<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="left_panel">
      <ul>All events:
      <% @events.each do |event| %>
      <li><%= link_to event.title, event, remote: true %></li>
      <% end %>

    </ul>
    </div>
    <div class="span10" id="main_panel">
      <div id="calendar_div">
    <%= calendar @events, :start_day => :monday do |event| %>
      <div><%= link_to event.title, event, remote: true %></div>
    <% end %>
    </div>
    <%= link_to 'New Event', new_event_path %>
    <div id="current_event">
    </div>
    </div>
  </div>
</div>
