/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *= require_self
 *= require_tree .
 */
html, body
{
  margin:0;
  padding:0;
    width:100%;
    height:100%;
    font-family:Helvetica, Arial, sans-serif;
    background: url('/assets/images.PNG');
}
.cont
{
  margin: 0 auto;
  width: 100%;
}
.color{
    background:rgba(244, 240, 240, 0.5);
    width:30%
}
.navig{
    float:left;
    margin-left:10px;
    width:17%;
    max-width:200px;
}
.navig_1{
    float:left;
    padding-left:10px;
    padding-right:10px;
    background:rgba(244, 240, 240, 0.7);
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    margin-left:10px;
    min-width:200px;
}
.navig_1 p{
    padding-bottom:0;
    text-align:center;
}
.navig p{
    padding-bottom:0;

}
.navig_1 h2{
    text-align:center;
}
.navig h2{
    text-align:center;
}
.big_img{
    height:220px;
}

.nav li{
    display:block;
    float:none;
    padding-right:5px;
    color:#777;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    color:#999;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25)
}
.nav li img{
    max-height:35px;
    padding:3px;
}
.span4{
    background:rgba(244, 240, 240, 0.5);
}
.span4 p{
    padding:50px;
    padding-bottom:0;
    text-align:center;
}
.span4 h2{
    text-align:center;
}
.span4 img{
    height:220px;
}
.main{
    margin:10px;
}
.sticker h2, p {
    font-size: 100%;
    font-weight: normal;
}
.sticker ul {
    overflow: hidden;
    padding: 3em;
}
.sticker ul li img{
    margin-bottom:10px;
    float:right;
}
.sticker ul li h2 {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 10px;
}
.sticker ul li p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 180%;
}
.sticker ul li{
    list-style: none;
    margin: 1em;
    float: left;
    text-decoration: none;
    color: #000;
    background: #FFC;
    display: block;
    min-height: 150px;
    max-height: 250px;
    max-width: 200px;
    min-width: 200px;
    overflow: auto;
    padding:3px 3px 10px 10px;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1); /* для Firefox Грозного */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 7); /* да для люда обычного, праведного */
    -box-shadow: 5px 5px 7px rgba(33, 33, 33, 7); /* и про Оперушку не забудем */
}
.sticker ul li{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}
.sticker ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
.sticker ul li:nth-child(3n){
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
.sticker ul li:nth-child(5n){
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
.promo{
    color:#AF0032;
    font-size:12px;
    text-align:center;
    margin-top:20px
}
.promo a:link, .promo a:visited, .promo a:hover {
    color:#0066CC;
    text-decoration:underline;
}
.style_accordion{
    margin-bottom:10px;
    background:rgba(244, 240, 240, 0.7);
    padding-left:10px;
    padding-right:10px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}
.style_accordion h4{
    padding-left:15px;
}
.float{
    float:left;
}
.group{
    min-height:100px;
}
.groups li{
    padding-bottom: 3px;
    list-style:none;
}
.groups li a{
    color:#082f64;
}
.main{

    float: left;
    width: auto;
}
@media (max-width: 930px){


}
@media (max-width: 930px) and (min-width: 550px){
  .sticker ul li p{font-size:120%}

}
@media (max-width: 549px){
     .sticker ul li p{font-size:90%}
}
.delete{
    float:right;
}
.sort{
    color:#578000;
    text-align:left;}
.hiden{
    list-style:none;
    color:#578000;
    padding-left:10px;

}
.hiden input{
    margin-bottom:5px;
}
.note
{
    float: left;
    width: 200px;
    background-color: yellow;
    margin: 5px;
}
.note .n_title
{
    font-size: 14pt;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    background:rgba(255,255,255, 0.5);
}
.note .n_text
{
    min-height: 150px;
}
.note input, .note textarea
{
    background:rgba(255,255,255, 0);
    border: none;
    width: 185px;
}
.note form
{
    text-align: center;
}
.note textarea
{
    max-height: 200px;
}

#calendar
{
  width: auto;
}
#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}
.sticker form
{
  text-align: center;
}
.sticker input, .sticker textarea, .sticker select
{
  background-color: rgba(0,0,0,0);
  border: none;
  max-width: 150px;

}
.sticker textarea
{
  max-height: 150px;
}

.date
{
  display: block;
}
