<div class="navig" id='left_panel'>
<%= render 'left_panel' %>
</div>
         <div class="main" >
          <div class="sticker">
            <ul id="main_panel">
            </ul>
          </div>
        </div>


