  <%= content_for :left do %>
<%= render 'left_panel' %>
  <%end %>
         <%= content_for :main do %>
          <div class="sticker">
            <ul id="main_panel">
            </ul>
          </div>
          <% end %>



